.pagination {
  margin-top: .5rem;
  text-align: center;
  font: optional;
}

.button {
  cursor: pointer;
  font: inherit;
  padding-top: .2rem;
  padding-right: .4rem;
  padding-left: .4rem;
  border-radius: 12px;
  border-color: #373737;
}

.button-inv {
  cursor: pointer;
  font: inherit;
  padding-top: .2rem;
  padding-right: .4rem;
  padding-left: .4rem;
  border-radius: 12px;
  border-color: #373737;
  visibility: hidden;
}

.pagination button:hover,
.pagination button:active {
  background-color: #e2e2e2;
  border-color: #373737;
}

.page {
  font-weight: bold;
  font-size: large;
}

.sidepage-left {
  margin-left: 1.5rem;
  margin-right: .1rem;
  font-size: small;
}

.sidepage-left-inv {
  margin-left: 1.5rem;
  margin-right: .1rem;
  font-size: small;
  visibility: hidden;
}

.sidepage-right {
  margin-left: .1rem;
  margin-right: 1.5rem;
  font-size: small;
}

.sidepage-right-inv {
  margin-left: .1rem;
  margin-right: 1.5rem;
  font-size: small;
  visibility: hidden;
}