.new-todo {
  margin-top: .5rem;
  padding: .05rem;
  margin: auto;
  border-radius: 12px;
  min-width: 48rem;
  max-width: 48rem;
  text-align: center;
}

.new-todo button {
  font: inherit;
  cursor: pointer;
  padding: .6rem 1.2rem;
  border: 1px solid #40005d;
  background-color: #40005d;
  color: white;
  border-radius: 12px;
  margin-right: 1rem;
  margin-top: .5rem;
}

.new-todo button:hover,
.new-todo button:active {
  background-color: #510674;
  border-color: #510674;
}